.contendorForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saleForm {
  width: 30rem;
  min-height: 40rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.divFormClient {
  width: 80%;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divFormClientInput, .divFormProductsInput, .select {
  margin: .6rem 0;
  padding: .3rem;
  border-radius: .5rem;
}

.divFormClientInput::-webkit-inner-spin-button,
.divFormClientInput::-webkit-outer-spin-button,
.divFormProductsInput::-webkit-inner-spin-button,
.divFormProductsInput::-webkit-outer-spin-button,
.inputEmpanada::-webkit-inner-spin-button,
.inputEmpanada::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.divFormClientInput { -moz-appearance:textfield; }
.divFormProductsInput { -moz-appearance:textfield; }
.inputEmpanada { -moz-appearance:textfield; }

.divVariety {
  width: 100%;
}

.inputEmpanada {
  width: 1.25rem;
  padding: 0.3rem;
  border-radius: .5rem;
  margin-right: .3rem;
  text-align: center;
}

.liInput {
  display: flex;
  align-items: center;
}

.divFormProducts {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.button {
  padding: .7rem;
  background-color: #fac710;
  border: 1px solid #fac710;
  border-radius: .5rem;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.button:hover { 
  color: black;
  background-color: #fac710;
  box-shadow: #fac710 0 4px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: scale(.95);
}

.orderPreviewProductList {
  height: fit-content;
  margin-bottom: 2.5rem;
}

.orderPreview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 21rem;
  min-height: 30rem;
  max-height: max-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-height: 25rem;
  margin: 4rem 2rem; 
}

.orderPreviewUL {
  list-style: none;
  padding: .3rem 1rem;
}

.li {
  margin: .4rem 0;
}

.ul {
  list-style: none;
  padding-left: .625rem;
}

.buttonRemove {
  background-color: tomato;
  opacity: .8;
  color: white;
  border: none;
  padding: .2rem .4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
}

.buttonRemove:hover {
  transform: scale(1.1);
  background-color: rgb(252, 55, 20);
  opacity: 1;
}

.buttonRemove:active {
  transform: scale(1);
}

.pEmpanada {
  font-size: .85rem;
  margin: .3rem 0 0 .6rem;
}

.liProductOrderPreview {
  margin: .3rem 0;
}

.valorTotal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}