.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divCard {
  width: 45%;
  padding: 1.5rem;
  margin-top: 5rem;
  min-height: 20rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divCardDetail {
  display: flex;
  justify-content: space-evenly;
  max-width: 98%;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 2px 6px;
  min-height: 18rem;
  margin: .3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
}

.divInfoClient {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: .5px solid gainsboro;
}

.clientTitle, .saleTitle {
  width: 100%;
  font-weight: bold;
  display: block;
  text-align: center;
  background-color: white;
  border-bottom: gainsboro 2px solid;
  padding: .5rem 0;
  margin-bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.clientContent {
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: none;
  padding-bottom: .5rem;
}
.clientContentP {
  padding: .7rem;
  margin: 0;
}

.divInfoSale {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: .5px solid gainsboro;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.saleTitle {
  border-bottom: .5px solid gainsboro;
}


.tableSale {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.tableSaleTH {
  padding: .5rem;
  border: 1px solid gainsboro;
}

.rowItemSaleTD {
  text-align: center;
  padding: .5rem;
  border: 1px solid gainsboro;
}

.rowItemSaleDocena {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: .5rem;
  border: 1px solid gainsboro;
}

.divButtonList {
  position: relative;
}

.divButtonList .divDocenaDetail {
  display: none;
  list-style: none;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 20rem;
}

.divButtonList:hover .divDocenaDetail {
  display: block;
  z-index: 100;
}

.docenaList {
  list-style: none;
  text-align: start;
  padding: .5rem .7rem;
  margin: 0;
}

.docenaList li {
  margin: .2rem;
}

.buttonDetailDocena {
  background-color: gainsboro;
  border: none;
  border-radius: 25%;
  padding: .2rem .4rem;
  text-align: center;
  opacity: .7;
}

.buttonDetailDocena:hover {
  opacity: 1;
  background-color: #fac710;
  
}

.total, .totalValue {
  text-align: center;
  padding: .5rem;
  font-weight: bold;
}

.divButtons {
  display: flex;
  justify-content: flex-end;
}

.buttonCardHome, .buttonCardDelete, .buttonCardPrint, .buttonCardUpdate {
  display: flex;
  text-align: left;
  align-items: center;
  margin: .4rem .5rem;
  padding: .4rem .5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .5s ease;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  opacity: .8;
}

.buttonCardHome:hover, .buttonCardDelete:hover, .buttonCardPrint:hover, .buttonCardUpdate:hover {
  transform: translateY(-3px);
  opacity: 1.2;
}

.buttonCardHome:active, .buttonCardDelete:active, .buttonCardPrint:active, .buttonCardUpdate:active {
  transform: scale(.95);
}

.buttonCardSVG {
  margin-right: .2rem;
}

.buttonCardHome {
  background-color: #fac710;
  border: #fac710 solid 1px;
}

.buttonCardUpdate {
  background-color: gainsboro;
  border: gainsboro solid 1px;
}

.buttonCardDelete {
  background-color: tomato;
  border: tomato solid 1px;
}

.buttonCardPrint {
  background-color: #68b5f5;
  border: #68b5f5 solid 1px;
}

@media (max-width: 1424px) {
  .main {
    height: max-content;
  }
  .divCard {
    width: 75%;
    margin: 2rem 0;
  }
}