.contendorForm {
  width: 100%;
  display: flex;
  justify-content: center;
}
.saleForm {
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.divFormClient {
  width: 80%;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divFormClientInput, .divFormProductsInput, .select {
  margin: .6rem 0;
  padding: .3rem;
  border-radius: .5rem;
}

.divFormClientInput::-webkit-inner-spin-button,
.divFormClientInput::-webkit-outer-spin-button,
.divFormProductsInput::-webkit-inner-spin-button,
.divFormProductsInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.divFormClientInput { -moz-appearance:textfield; }
.divFormProductsInput { -moz-appearance:textfield; }



.divFormProducts {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.button {
  padding: .7rem;
  background-color: #fac710;
  border: 1px solid #fac710;
  border-radius: .5rem;
  font-weight: bold;
  transition: all .5s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.button:hover { 
  color: black;
  background-color: #fac710;
  box-shadow: #fac710 0 4px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: scale(.95);
}

.orderPreview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 21rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-height: 25rem;
  margin: 4rem 2rem; 
}

.orderPreviewUL {
  list-style: none;
  padding: .3rem 1rem;
}

.li {
  margin: .4rem 0;
}

.valorTotal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}