.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listStock {
  margin: 3rem auto;
  padding: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.titleList {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: solid 2px black;
}

.titleRow {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.title {
  width: 30%;
  text-align: center;
  font-size: 1.3em;
}


.stockRow {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inputStock {
  width: 20%;
  margin: 0 4rem;
  padding: .3rem;
  font-size: 1em;
  border-radius: .5rem;
  border: 1px solid black;
}

.stockButtons {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.deleteButton {
  padding: .4rem .6rem;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .3s ease;
}

.updateButton {
  padding: .4rem .6rem;
  background-color: #fac710;
  color: white;
  border: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .3s ease;
}

.submitButton {
  padding: .4rem .6rem;
  background-color: #5afa10;
  color: white;
  border: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .3s ease;
}

.submitButton:hover,
.updateButton:hover,
.deleteButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.submitButton:active,
.updateButton:active,
.deleteButton:active {
  transform: scale(.95);
  cursor: pointer;
}

.divStockForm {
 width: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.titleForm {
  position: relative;
  font-size: 1.3em;
  font-weight: bold;
  top: 3.5rem;
  padding: 1rem;
  background-color: white;
  border: 3px solid #fac710;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stockForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  padding: 2rem 1rem 1.5rem;
  background-color: rgba(250, 199, 16, .8);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputLabelStock {
  display: flex;
  flex-direction: column;
}

.inputSubmit {
  padding: .3rem;
  border-radius: .5rem;
  border: 1px solid black;
}

@media (max-width: 1424px) {
  .listStock {
    margin: 2rem auto;
    width: 80%;
  }
  .title {
    width: 35%;
    margin: 0 1rem;
  }
}