body {
  margin: 0px;
}
.div-principal-navBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  border-bottom: 2.5px solid black;
  padding: 0.3rem 10rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 500;
}
.div-logo-navBar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.div-logo-navBar p {
  font-size: 2rem;
  color: #fac710;
  margin: 0;
}
.p-dashboard {
  font-size: 1rem;
  text-decoration: overline 2px;
}
.div-links-navBar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

a {
  text-decoration: none;
}

.link {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.4s;
}

.link:hover {
  text-decoration: underline #fac710 3px;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
  height: 2.5rem;
  margin-left: 2rem;
  background-color: white;
  border: 2px solid #fac710;
  border-radius: .5rem;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Roboto Mono", monospace;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.logout-button:disabled {
  pointer-events: none;
}

.logout-button:hover {
  color: black;
  background-color: #fac710;
  box-shadow: gray 0 5px 10px;
  transform: translateY(-2px);
}

.logout-button:active {
  box-shadow: none;
  transform: translateY(0);
}

