body {
  margin: 0px;
}
.div-principal-navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px solid black;
  padding: 0.3rem 10rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.div-logo-navBar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.div-logo-navBar p {
  font-size: 2rem;
  color: #fac710;
  margin: 0;
}
.p-dashboard {
  font-size: 1rem;
  text-decoration: overline 2px;
}
.div-links-navBar {
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
}

.link {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.4s;
}

.link:hover {
  text-decoration: underline #fac710 3px;
}
