.divForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formAñadirProducto {
  width: 25%;
  display: flex;
  flex-flow: column wrap;
  border: .5px black solid;
  border-radius: 2rem;
  padding: 2rem;
  margin-top: 8rem;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.divInput {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  align-items: center;
}

.input {
  width: 100%;
  margin: .5rem 0 1rem;
  border: 1.5px solid gray;
  border-radius: .5rem;
  padding: .5rem;
}

.divSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divSelect select {
  border-radius: .5rem;
  padding: .3rem;
  font-size: 1em;
  margin: .7rem;
}

.divFile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divFile input {
  padding: .5rem;
  margin: .6rem;
}

.button {
  padding: .7rem 1.5rem;
  background-color: #fac710;
  border: 0.125em solid #fac710;
  border-radius: 1rem;
  font-weight: bold;
  transition: all .3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: #fac710;
  box-shadow: #fac710 0 4px 15px;
  transform: translateY(-2px);
  
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}